/* Mobile */
body {
  background-image: url("../img/bg2.jpg");
  background-color: #3a3b3c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

header {
  display: block;
  width: 100%;
  } 
  header h1 {
      color: black;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 28px; 
      font-weight: bold;
}
.stories{
  min-width: 45vw;
}
h3{
  display: inline-block;
}
h6{
  float: right;
}
nav {
  flex-wrap: wrap;
  position: sticky;
  width: 100%;
  background-color: black;
  overflow: hidden;
  }
  nav a {
    float: left;
    margin-top: 4px;
    color: #d0ccd0;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px; 
  }
  nav a:hover {
    margin-top: 4px;
    color: #FBFCFF;
  }
  nav button {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  color: #d0ccd0;
  background-color: #274156;
  text-align: center;
  padding: 10px 20px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px; 
  }
  nav button:hover {
    margin-top: 6px;
    border-top: 2px solid black;
    color: #FBFCFF;
  }
  #Logout {
    float: right;
    margin-top: 4px;
    color: #d0ccd0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px; 
   }
   #logout:hover {
    margin-top: 12px;
    color: #FBFCFF;
  }
.fnav {
  margin-left: 1%;
}

.lnav {
  margin-right: 1%;
}

#Activenav {
  margin-top: 0;
  margin-bottom: 1px;
  border-top: 4px solid #d0ccd0;
  color: #FBFCFF;
}

main {
  min-height: 70vh;
  position: relative;
  background-color: #d0ccd0;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 100%;
  text-align: center;
  display: fle;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  overflow: auto;
 }
 main table {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 13px;
 }
 main a {
  margin-top: 1%;
  color: #3a3b3c;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 90%; 
 }
 main a:hover {
  color: #050505;
 }
 .sinmo1 {
  display: block;
 }
 .sinmo2 {
  display: none;
 }
 .sinmo3 {
  display: flex;
  font-size: 80%;
 }
 #dataview {
  display: flow-root;
  margin-left: 3%;
  margin-right: 3%;
  font-family: sans-serif;
  color: #3a3b3c;
  border-collapse: collapse;
  border-bottom: #3a3b3c solid 3px;
  overflow: auto;
 }
 #dataview tr th{
  background: #3a3b3c;
  color: #FBFCFF;
  font-weight: normal;
  padding-bottom: 5px; }
 #dataview, #dataview th, #dataview td {
  padding: 2vh 1.2vw;
  text-align: center;
  border-bottom: #d0ccd0 solid 1px;
 }
 #dataview tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 #dataview tr:nth-child(odd) {
  background-color: #f5f5f5;
 }
 #dataview tr td{
  color: #3a3b3c;
  font-weight: normal;
 }
 #dataview button{
  color: #d0ccd0;
 }
 main input {
  width: 100%;
  box-sizing: border-box;
 }
 main button{
  display: inline-block;
  margin-top: 1%;
  margin-right: 3%;
  color: #d0ccd0;
  background-color: #3a3b3c;
  text-align: center;
  padding: 1% 2%; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80%;
  text-decoration: none;
 }
 main button a{
  text-decoration: none;
  color: #d0ccd0;
 }
 main button a:hover{
  color: #FBFCFF;
 }
 main button:hover {
  background-color: black;
 }
 input {
  padding: 8px 10px;
  box-sizing: border-box;
 }

 input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 80%;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 10px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

 textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
 }
 input[type=radio] {
  position: relative;
  display: inline-block;
  border: 2px solid #3a3b3c;
 }
 input[type=email] {
  transition: width 0.4s ease-in-out;
 }
 input[type=email]:focus {
  width: 100%;
 }
 input[type=submit] {
  display: inline-block;
  margin-top: 10px;
  margin-right: 4px;
  color: #d0ccd0;
  background-color: #3a3b3c;
  text-align: center;
  padding: 10px 20px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  font-size: 16px;
  text-decoration: none;
 }
 input[type=submit]:hover {
  background-color: black;
 }
 #searchbar {
  display: flex;
  margin-left: 60%;
 }
 main article{
  text-align: justify;
  text-justify: inter-word;
  text-indent: 5%;
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#Profilepic {
  margin-top: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: black;
  border: 5px solid #d0ccd0;
  filter: brightness(80%);
  height: 50%;
  width: 50%;
}

footer {
  display: block;
  position: relative;
  background-color: black;
  color: #d0ccd0  ;
  border-top: 4px solid #FBFCFF;
  height: 100%;
  margin-bottom: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 8px; 
  text-align: left;
  overflow: hidden;
  }
  footer p{
    text-align: center;
    padding-top: 2%;
    padding-left: 1.5%;
    font-size: 10px;
  }
  footer table{
    justify-content: left;
    float: left;
    padding-top: 1%;
    padding-left: 5.5%; 
    padding-bottom: 2%;
  }
  footer a {
    text-decoration: none;
    color: #d0ccd0;
}
* {
  box-sizing:border-box;
}

.slideshow-container {
  width: 50%;
  position: relative;
  display: flex;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  right: 5%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.zoom {
  transition: transform .2s;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  header {
    margin-left: 39%;
    margin-right: 39%;
    width: auto;
   } 
   header h1 {
      font-size: 45px; 
  }
  
  nav {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    }
    nav a {
      font-size: 18px; 
  }
  
  main {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    font-size: 19px;
   }
   main table{
    width: auto;
    font-size: 16px;
   }
   #dataview {
    display: flow-root;
    font-size: 13px;
    overflow-x: auto;
   }
   main article {
    font-size: 16px;
  }

  #Profilepic {
    height: 25%;
    width: 25%;
  }
  
  footer {
    display: block;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 13px; 
    }
    footer p{
      float: left;
  }
    

* {
  box-sizing:border-box;
}

.zoom {
  transition: transform .2s;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
}
.slideshow-container {
  width: 25%;
  position: relative;
  display: flex;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  left: 20%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  right: 20%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.pic{
  display: flex;
  width:185px;
  height:205px;
}
h9{
  font-size: 17px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 10px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 2%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555555;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.zoom:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}
