/* Mobile */
body {
background-image: url("../img/bg2.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
}

header {
display: block;
width: 100%;
} 
header h1 {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px; 
    font-weight: bold;
}

.header {
    width: 50%;
    margin: 50px auto 0px;
    color: white;
    background: #3a3b3c;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
  }

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  width: 93%;
  padding: 5px 10px;
  font-size: 2vw;
  border-radius: 5px;
  border: 1px solid gray;
}

nav {
display: block;
position: sticky;
background-color: black;
overflow: hidden;
}
nav a {
    float: left;
    margin-top: 4px;
    color: #d0ccd0;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px; 
}


.fnav {
margin-left: 2%;
}
.lnav {
    margin-right: 2%;
    
}
#Activenav {
margin-top: 0;
margin-bottom: 1px;
border-top: 4px solid #d0ccd0;
color: #FBFCFF;
}
main {
padding: 0% 0% 0% 2%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #d0ccd0;
display: flex;;
margin-left: 25%;
margin-right: 25%;
width: auto;
font-size: 60%;
overflow: auto;
border-radius: 0px 0px 10px 10px;
}
main table {
position: relative;
display: flex;
justify-content: center;
font-size: 13px;
}
main input {
min-width: 90%;
box-sizing: border-box;
}
input {
  padding: 1.5vh 2.2vw;
  margin: 0.3vh 0;
  box-sizing: border-box;
 }
 input[type=text] {
  transition: width 0.4s ease-in-out;
 }
 input[type=text]:focus {
  width: 100%;
 }
 input[type=password] {
    transition: width 0.4s ease-in-out;
 }
 input[type=password]:focus {
    width: 100%;
 }
 input[type=radio] {
  position: relative;
  display: inline-block;
  border: 2px solid #3a3b3c;
 }
 input[type=email] {
  transition: width 0.4s ease-in-out;
 }
 input[type=email]:focus {
  width: 100%;
 }
 input[type=submit] {
  display: inline-block;
  margin-top: 10px;
  margin-right: 4px;
  color: #d0ccd0;
  background-color: #3a3b3c;
  text-align: center;
  padding: 1.4vh 1vw; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  font-size: 80%;
  text-decoration: none;
 }
 input[type=submit]:hover {
  background-color: black;
 }

/* Desktop */
@media only screen and (min-width: 768px) {
header {
    margin-left: 39%;
    margin-right: 39%;
    width: auto;
    } 
    header h1 {
    font-size: 45px; 
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  width: 100%;
  padding: 5px 10px;
  font-size: 1vw;
  border-radius: 5px;
  border: 1px solid gray;
}
nav {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
    }
    nav a {
    font-size: 18px; 
}

main {
    display: flex;;
    margin-left: 37.5%;
    margin-right: 35%;
    width: 25%;
    font-size: 14px;
    padding:0px;
    }
    main table{
    width: auto;
    font-size: 16px;
}

.header {
    width: 25%;
    margin: 50px auto 0px;
    color: white;
    background: #3a3b3c;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
  }